$fuenteprincipal: 'Montserrat', sans-serif;


//Colores
$verde:#4cb8b3;
$rosa:#f53756;
$amarillo:#fef46d;
$morado:#752f97;
$negro:#000000;
$blanco:#ffffff;




//Media Querys


//Fuentes

$delgada:300;
$normal:400;
$bold:700;
$black:900;

