
.video{
    position: relative;
    max-height: 70rem;
    overflow: hidden;

  
    .overlay{

        position: absolute;
        width: 100%;
        height: 100%;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#891c1e+0,9e37f2+64,ffffff+98&0.8+0,0.5+98 */
        background: -moz-linear-gradient(-45deg,  rgba(137,28,30,0.8) 0%, rgba(158,55,242,0.6) 64%, rgba(255,255,255,0.5) 98%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  rgba(137,28,30,0.8) 0%,rgba(158,55,242,0.6) 64%,rgba(255,255,255,0.5) 98%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  rgba(137,28,30,0.8) 0%,rgba(158,55,242,0.6) 64%,rgba(255,255,255,0.5) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc891c1e', endColorstr='#80ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

       
    }

    .overlay-contenido{
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;//posicionar el texto por encima
        z-index: 1;//posicionar el texto por encima

        h2{
            display: flex;
            flex-direction: column;
            align-items: flex-start;//alinear a la izquierda
            color: $blanco;
            font-size: 7rem;
            margin: 0 auto;
            
            @include telefono{
                font-size: 3rem; 
            }


            span{
                background-color: $rosa;
                font-size: 2rem;
                padding: 1rem 2rem;
                @include telefono{
                    font-size: 1rem;
                }
            }
        }
    }

    video{
        width: 100%;

       
    }

}


